@let data = editorData();

<poc-title [title]="title()"
           [showClose]="true"
           [icon]="icon"
           (close)="editorAction.emit({type: 'cancel'})"
           tabindex="-1" />

<poc-dynamic-form #editorForm
                  class="mt-2"
                  [formGroup]="data.form"
                  [formDefinition]="editorDefinition().formDefinition"
                  [lookups]="data.lookups"
                  [isLoading]="data.model === null"
                  (lookupRefresh)="lookupRefresh.emit($event)" />

@if (data.model !== null) {
  <div class="buttons pt-1.5 border-t-2 flex flex-row justify-end gap-2">
    @if (!data.isNew) {
      <button mat-button
              class="core danger"
              (click)="editorAction.emit({ type: 'delete', model: editorForm.model} )">
        <mat-icon fontSet="fa-regular"
                  fontIcon="fa-trash-can" />
        Delete
      </button>
    }
    <div class="flex-auto"></div>
    <button mat-button
            class="core"
            (click)="editorAction.emit({ type: 'cancel'} )">
      Cancel
    </button>
    <button mat-flat-button
            class="core"
            (click)="editorAction.emit({ type: 'save', model: editorForm.model} )">
      <mat-icon fontSet="fa-regular"
                fontIcon="fa-floppy-disk" />
      Save
    </button>
  </div>
}
