<div class="py-2 px-3 flex flex-col h-full overflow-y-auto">
  <poc-title title="Edit Customer"
             [showClose]="true"
             [icon]="['fa-regular','fa-pen-to-square']"
             (close)="editorClick.emit('cancel')"></poc-title>
  <p cdkFocusInitial>customer-editor works!</p>
  <div class="flex-auto"></div>
  <div class="buttons pt-2 border-t-2 flex flex-row justify-end gap-2">
    <button type="button"
            class="core danger w-30"
            (click)="editorClick.emit('delete')">
      <i class="fa-regular fa-trash-can"></i>
      Delete
    </button>
    <div class="flex-auto"></div>
    <button type="button"
            class="core  w-40"
            (click)="editorClick.emit('cancel')">
      Cancel
    </button>
    <button type="button"
            class="core primary w-40"
            (click)="editorClick.emit('save')">
      <i class="fa-regular fa-floppy-disk"></i>
      Save
    </button>
  </div>
</div>
