<div class="py-2 px-3 flex flex-col h-full overflow-y-auto">
  <poc-title title="Edit Customer"
             [showClose]="true"
             [icon]="['fa-regular','fa-pen-to-square']"
             (close)="editorClick.emit('cancel')"></poc-title>
  <p cdkFocusInitial>customer-editor works!</p>
  <div class="flex-auto">
    @let categories = customerCategories();
    <select>
      @for (item of categories; track item.key) {
      <option value="{{item.key}}"> {{ item.value }}</option>
      }
    </select>
    <button mat-flat-button
            class="core"
            (click)="onRefresh()">Refresh</button>
  </div>
  <div class="buttons pt-1.5 border-t-2 flex flex-row justify-end gap-2">
    <button mat-button
            class="core danger"
            (click)="editorClick.emit('delete')">
      <mat-icon fontSet="fa-regular"
                fontIcon="fa-trash-can" />
      Delete
    </button>
    <div class="flex-auto"></div>
    <button mat-button
            class="core"
            (click)="editorClick.emit('cancel')">
      Cancel
    </button>
    <button mat-flat-button
            class="core"
            (click)="editorClick.emit('save')">
      <mat-icon fontSet="fa-regular"
                fontIcon="fa-floppy-disk" />
      Save
    </button>
  </div>
</div>
