<mat-drawer-container class="h-full p-0 m-0">

  <mat-drawer position="end"
              disableClose="true"
              class="min-w-[450px] w-2/5">
    <poc-customer-editor [model]="selectedCustomer()"
                         [lookups]="lookups()"
                         (editorAction)="onEditorAction($event)"
                         (lookupRefresh)="onLookupRefresh($event)" />
  </mat-drawer>

  <mat-drawer-container class="h-full overflow-y-auto">

    <poc-dynamic-list class="py-2 px-3"
                      [listDefinition]="listDefinition"
                      [listData]="listData()"
                      [pagingInfo]="pagingInfo()"
                      (toolbarClick)="onToolbarAction($event)"
                      (toolbarSearch)="onSearch($event)"
                      (tableSortChanged)="onSortChanged($event)"
                      (tableCellAction)="onTableCellAction($event)"
                      (tableRowAction)="onTableRowAction($event)"
                      (tableSelectionAction)="onTableSelectionAction($event)"
                      (pagingChanged)="onPagingChanged($event)">

      <ng-template columnName="tin"
                   let-element>
        {{ element }} is a TIN
      </ng-template>

      <ng-template columnName="fullName"
                   let-row="row"
                   let-columnDef="columnDef">
        {{ row[columnDef.name] }}
      </ng-template>

    </poc-dynamic-list>

  </mat-drawer-container>

</mat-drawer-container>
