@let arrows = arrowsState();

<!-- Total row -->
<p id="summary">{{ summary() }}</p>
@if (selectionSummary()) {
<p class="text-blue-700 flex items-center gap-4">
  {{ selectionSummary() }}
  <i class="summary-icon fa-regular fa-circle-xmark text-[1.15em] cursor-pointer"
     (click)="clearSelection.emit()"
     (keydown)="clearSelection.emit()"
     role="button"
     tabindex="0">
  </i>

  <i class="summary-icon fa-solid fa-ellipsis cursor-pointer text-black text-[0.9em] scale-150"
     [matMenuTriggerFor]="actionMenu">
  </i>
</p>
}
<mat-menu #actionMenu="matMenu"
          xPosition="before">
  @for (action of tableActions(); track action) {
  <button mat-menu-item
          (click)="tableAction.emit(action)">
    @if (action.icon) {
    <i [ngClass]="action.icon"
       class="pr-4 leading-4 align-middle text-lg"></i>
    }
    <span class="pr-3 leading-4 align-middle">{{ action.label }}</span>
  </button>
  }
</mat-menu>

<div class="flex-auto"></div>

<!-- Rows per page -->
<p>
  <span id="pageSize"
        class="cursor-pointer pr-0.5"
        [matMenuTriggerFor]="sizeMenu">{{ pageSize() }}</span>
  rows per page
  <mat-menu #sizeMenu="matMenu"
            xPosition="before">
    @for (size of menuSizes(); track size) {
    <button mat-menu-item
            (click)="onMenuSize(size)">
      <span>{{ size }}</span>
    </button>
    }
  </mat-menu>
</p>

<!-- Buttons -->
<div class="flex flex-row items-center justify-center gap-1 text-xl">
  <i id="first"
     [class.disabled]="!arrows.first"
     (click)="onArrowClick('first')"
     (keydown)="onArrowClick('first')"
     class="fa-solid fa-backward-fast fa-fw"
     role="button"
     tabindex="0"></i>
  <i id="prev"
     [class.disabled]="!arrows.prev"
     (click)="onArrowClick('prev')"
     (keydown)="onArrowClick('prev')"
     class="fa-solid fa-backward fa-fw"
     role="button"
     tabindex="0"></i>
  <i id="next"
     [class.disabled]="!arrows.next"
     (click)="onArrowClick('next')"
     (keydown)="onArrowClick('next')"
     class="fa-solid fa-forward fa-fw ml-1"
     role="button"
     tabindex="0"></i>
  <i id="last"
     [class.disabled]="!arrows.last"
     (click)="onArrowClick('last')"
     (keydown)="onArrowClick('last')"
     class="fa-solid fa-forward-fast fa-fw"
     role="button"
     tabindex="0"></i>
</div>
