@let arrows = arrowsState();

<!-- Total row -->
<p id="summary">{{ summary() }}</p>
<div class="flex-auto"></div>

<!-- Rows per page -->
<p>
  <span id="pageSize"
        class="cursor-pointer pr-0.5"
        [matMenuTriggerFor]="menu">{{ pageSize() }}</span>
  rows per page
  <mat-menu #menu="matMenu"
            xPosition="before">
    @for (size of menuSizes(); track size) {
    <button mat-menu-item
            (click)="onMenuSize(size)">{{ size }}
    </button>
    }
  </mat-menu>
</p>

<!-- Buttons -->
<div class="pt-1.5 mb-1.5 flex flex-row items-center justify-center gap-1 text-xl">
  <i id="first"
     [class.disabled]="!arrows.first"
     (click)="onArrowClick('first')"
     (keydown)="onArrowClick('first')"
     class="ph ph-caret-circle-double-left"
     role="button"
     tabindex="0"></i>
  <i id="prev"
     [class.disabled]="!arrows.prev"
     (click)="onArrowClick('prev')"
     (keydown)="onArrowClick('prev')"
     class="ph ph-caret-circle-left"
     role="button"
     tabindex="0"></i>
  <i id="next"
     [class.disabled]="!arrows.next"
     (click)="onArrowClick('next')"
     (keydown)="onArrowClick('next')"
     class="ph ph-caret-circle-right ml-1"
     role="button"
     tabindex="0"></i>
  <i id="last"
     [class.disabled]="!arrows.last"
     (click)="onArrowClick('last')"
     (keydown)="onArrowClick('last')"
     class="ph ph-caret-circle-double-right"
     role="button"
     tabindex="0"></i>
</div>
