<poc-title class="flex"
           [title]="'Customers List'" />
<poc-toolbar class="flex"
             [toolbarActions]="toolbarActions()"
             (toolbarClick)="toolbarClick.emit($event)"
             (toolbarSearch)="toolbarSearch.emit($event)" />
<poc-dynamic-table class="flex flex-auto h-full overflow-auto"
                   (sortChanged)="tableSortChanged.emit($event)"
                   [loading]="loading()"
                   [tableDefinition]="tableDefinition()"
                   [data]="items()" />
