<poc-generic-list [listDefinition]="listDefinition()"
                  [listData]="listData()"
                  [pagingInfo]="pagingInfo()"
                  (toolbarClick)="toolbarClick.emit($event)"
                  (toolbarSearch)="toolbarSearch.emit($event)"
                  (tableSortChanged)="tableSortChanged.emit($event)"
                  (pagingChanged)="pagingChanged.emit($event)">
</poc-generic-list>

<ng-template columnName="tin"
             let-element>
  {{ element }}
</ng-template>

<ng-template columnName="fullName"
             let-row="row"
             let-columnDef="columnDef">
  {{ row[columnDef.name] }}
</ng-template>
