@use '@angular/material' as mat;

:host {
  --border-gray: #c1c1c1;
  @include mat.checkbox-overrides(
    (
      state-layer-size: 32px
    )
  );
}

th.mat-mdc-table-sticky {
  @apply bg-slate-300 border-b border-b-gray-700 #{!important};
  opacity: 1;
}

.mat-mdc-header-row,
.mat-mdc-row {
  height: 32px !important;
}

.mat-mdc-cell {
  @apply border-b-gray-300 #{!important};
}

th,
td,
tr {
  margin: 0;
  padding: 0 6px;
}

td:first-child {
  border-left: var(--border-gray) 1px solid;
}

td {
  border-right: var(--border-gray) 1px dotted;
}

td:last-child {
  border-left: var(--border-gray) 1px dotted;
  border-right: var(--border-gray) 1px solid;
}

.mat-mdc-checkbox.table-checkbox {
  transform: scale(0.6);
  width: 24px;
}
