th.mat-mdc-table-sticky {
  @apply bg-slate-300 border-b border-b-gray-700 #{!important};
  opacity: 1;
}

.mat-mdc-header-row,
.mat-mdc-row {
  height: 32px !important;
}

.mat-mdc-cell {
  @apply border-b-gray-300 #{!important};
}

th,
td,
tr {
  margin: 0;
  padding: 0 6px;
}

//
//td:first-child, th:first-child {
//  position:sticky;
//  left:0;
//  z-index:1;
//  background-color:grey;
//}
