@let data = tableData();

<table mat-table
       matSort
       matSortDisableClear
       [matSortActive]="data.sorting?.field ?? ''"
       [matSortDirection]="data.sorting?.direction ?? ''"
       (matSortChange)="onSortChanged($event)"
       [dataSource]="data.rows"
       [ngClass]="{'min-h-[400px]': !data.rows.length}"
       class="border-separate">

  @for (columnDef of tableDefinition().columns; track columnDef.name) {
  <ng-container matColumnDef="{{columnDef.name}}">
    <th mat-header-cell
        mat-sort-header
        [disabled]="!(columnDef.isSortable ?? false)"
        [arrowPosition]="columnDef.type === 'number' ? 'before' : 'after'"
        [class.text-right]="columnDef.type === 'number'"
        [class.text-center]="columnDef.type === 'boolean'"
        [style]="columnDef.style"
        [class]="columnDef.class"
        *matHeaderCellDef> {{ columnDef.label }}
    </th>
    <td mat-cell
        [class.text-right]="columnDef.type === 'number'"
        [class.text-center]="columnDef.type === 'boolean'"
        [class.link]="columnDef.isLink"
        [style]="columnDef.style"
        [class]="columnDef.class"
        *matCellDef="let row"
        (dblclick)="cellDoubleClicked.emit({row: row, columnDef:columnDef})"
        (click)="cellClicked.emit({row: row, columnDef:columnDef})">
      <ng-container *ngTemplateOutlet="getColumnTemplate(columnDef.name) ?? defaultColumnTemplate; context: {
          $implicit: row[columnDef.name],
          row,
          columnDef
        }" />
    </td>
  </ng-container>
  }

  @if (tableDefinition().rowActions) {
  <ng-container matColumnDef="actions">
    <th mat-header-cell
        *matHeaderCellDef
        class="text-right w-12">Actions
    </th>
    <td mat-cell
        *matCellDef="let row"
        class="text-center text-lg cursor-pointer"
        [matMenuTriggerFor]="actionsMenu">
      <i class="ph-bold ph-dots-three font-bold"></i>


      <mat-menu #actionsMenu="matMenu"
                xPosition="before">
        @for (action of tableDefinition().rowActions ?? []; track action) {
        <button mat-menu-item
                (click)="rowAction.emit({row: row, action: action.name})">
          <i [ngClass]="action.icon"
             class="pr-4 leading-4 align-middle text-lg"></i>
          <span class="pr-3 leading-4 align-middle">{{ action.label }}</span>
        </button>
        }
      </mat-menu>
    </td>

  </ng-container>
  }

  <tr mat-header-row
      *matHeaderRowDef="displayedColumns(); sticky: true"></tr>
  <tr mat-row
      *matRowDef="let row; let isOdd = odd; let index = index; let column = column; columns: displayedColumns();"
      class="bg-gray-100 hover:bg-gray-500 hover:text-white"
      (click)="currentRowNum = index"
      [class.bg-gray-200]="isOdd"
      [class.bg-gray-400]="index === currentRowNum"
      [class.text-gray-50]="index === currentRowNum">
  </tr>

  <tr class="mat-row min-h-[400px]"
      *matNoDataRow>
    @if (data.loading) {
    <td class="mat-cell"
        [attr.colspan]="displayedColumns().length">
      <div id="loading"
           class="flex flex-col items-center text-2xl">
        <i class="ph-bold ph-cloud-arrow-down text-7xl pb-10 animate-bounce text-orange-500 opacity-80"></i>
        <p> Waiting for data ... </p>
      </div>
    </td>
    } @else {
    <td class="mat-cell"
        [attr.colspan]="displayedColumns().length">
      <div id="no-rows"
           class="flex flex-col items-center text-2xl">
        <i class="ph-bold ph-funnel text-7xl pb-10 text-red-800 opacity-80"></i>
        <p> No data to display </p>
      </div>
    </td>
    }
  </tr>

</table>
<div class="flex"></div>

<ng-template #defaultColumnTemplate
             let-row="row"
             let-columnDef="columnDef">
  <ng-container [ngSwitch]="columnDef.type">
    <ng-container *ngSwitchCase="'number'">
      {{ row[columnDef.name] | number:columnDef.format }}
    </ng-container>
    <ng-container *ngSwitchCase="'date'">
      {{ row[columnDef.name] | date:columnDef.format }}
    </ng-container>
    <ng-container *ngSwitchCase="'boolean'">
      <i class="ph-bold"
         [class.ph-square]="!row[columnDef.name]"
         [class.ph-check-square]="row[columnDef.name]"></i>
    </ng-container>
    <ng-container *ngSwitchDefault>
      {{ row[columnDef.name] }}
    </ng-container>
  </ng-container>
</ng-template>
