.mat-mdc-table-sticky {
  @apply bg-slate-300 border-b border-b-gray-700 #{!important};
  opacity: 1;
}

.mat-mdc-header-row {
  height: 32px !important;
}

.mat-mdc-row {
  height: 30px !important;
}

.mat-mdc-cell {
  @apply border-b-gray-300 #{!important};
}

th,
td,
tr {
  margin: 0;
  padding: 0 6px;
}

.link {
  @apply text-blue-600 dark:text-blue-500 hover:underline cursor-pointer;
}
