@let data = tableData();
@let columnInfo = columnsWidth();

<table #table
       mat-table
       matSort
       matSortDisableClear
       multiTemplateDataRows
       [dataSource]="data.rows"
       [matSortActive]="data.sorting?.field ?? ''"
       [matSortDirection]="data.sorting?.direction ?? ''"
       (matSortChange)="onSortChanged($event)"
       [style.width]="columnInfo.columnsWidth"
       class="border-separate">

  @for (columnDef of tableDefinition().columns; track columnDef.name) {
  <ng-container matColumnDef="{{columnDef.name}}"
                [sticky]="columnDef.sticky === 'start'"
                [stickyEnd]="columnDef.sticky === 'end'">
    <th mat-header-cell
        mat-sort-header
        [disabled]="!(columnDef.isSortable ?? false)"
        [arrowPosition]="columnDef.type === 'number' ? 'before' : 'after'"
        [class.text-right]="columnDef.type === 'number'"
        [class.text-center]="columnDef.type === 'boolean'"
        [style]="columnDef.headerStyle"
        [class]="columnDef.headerStyle"
        [style.width]="columnDef.width ? columnDef.width + 'px' : '200px'"
        *matHeaderCellDef> {{ columnDef.label }}
    </th>
    <td mat-cell
        [class.text-right]="columnDef.type === 'number'"
        [class.text-center]="columnDef.type === 'boolean'"
        [class.link]="columnDef.isLink"
        [style]="columnDef.style"
        [class]="columnDef.class"
        [style.width]="columnDef.width ? columnDef.width + 'px' : '200px'"
        *matCellDef="let row"
        (click)="$event.preventDefault(); tableCellAction.emit({kind: 'click', row: row, columnDef:columnDef});"
        (dblclick)="$event.preventDefault(); tableCellAction.emit({kind: 'dblClick', row: row, columnDef:columnDef})">
      <ng-container *ngTemplateOutlet="getColumnTemplate(columnDef.name) ?? defaultColumnTemplate; context: {
          $implicit: row[columnDef.name],
          row,
          columnDef
        }" />
    </td>
  </ng-container>
}

<ng-container matColumnDef="__empty">
  <th mat-header-cell
      *matHeaderCellDef>
  </th>
  <td mat-cell
      *matCellDef="let row">
  </td>
</ng-container>

@if (tableDefinition().rowActions) {
  <ng-container matColumnDef="__actions"
                stickyEnd>
    <th mat-header-cell
        style="width: 60px"
        *matHeaderCellDef
        class="text-right max-w-[60px]">Actions
    </th>
    <td mat-cell
        style="width: 60px"
        *matCellDef="let row"
        class="text-center text-lg cursor-pointer w-[60px]"
        [matMenuTriggerFor]="actionsMenu"
        [matMenuTriggerData]="{row: row}">
      <i class="fa-solid fa-ellipsis font-bold"></i>

    </td>
  </ng-container>

  <mat-menu #actionsMenu="matMenu"
            xPosition="before">
    <ng-template matMenuContent
                 let-row="row">
      @let actions = tableDefinition().rowActions ?? [];
        @for (action of actions; track action) {
        <button mat-menu-item
                (click)="rowAction.emit({row: row, action: action.name});">
          <i [ngClass]="action.icon"
             class="pr-4 pt-[2px] leading-4 align-middle text-lg"></i>
          <span class="pr-3 leading-4 align-middle">{{ action.label }}</span>
        </button>
      }
    </ng-template>
  </mat-menu>
}

@if (tableDefinition().enableSelection) {
  <!-- Checkbox Column -->
  <ng-container matColumnDef="__select"
                sticky>
    <th mat-header-cell
        style="width: 42px"
        *matHeaderCellDef>
      <mat-checkbox class="table-checkbox"
                    (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell
        style="width: 42px"
        *matCellDef="let row">
      <mat-checkbox class="table-checkbox"
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
}

<tr mat-header-row
    *matHeaderRowDef="columnInfo.displayedColumns; sticky: true"></tr>

<tr mat-row
    *matRowDef="let row; let isOdd = odd; let index = dataIndex; let column = column; columns: columnInfo.displayedColumns;"
    class="bg-gray-100 hover:bg-gray-500 hover:text-white"
    (click)="$event.preventDefault(); currentRowNum = index"
    [class.bg-gray-200]="isOdd"
    [class.bg-gray-400]="index === currentRowNum"
    [class.text-gray-50]="index === currentRowNum">
</tr>

</table>

<div class="flex w-full items-center justify-center h-full">
  @if (data.rows.length === 0 && data.loading) {
    <div id="loading"
         class="flex flex-col items-center text-2xl w-full">
      <i class="fa-regular fa-hourglass text-7xl pb-10 animate-bounce text-orange-500 opacity-80"></i>
      <p> Waiting for data ... </p>
    </div>
  }

  @if (data.rows.length === 0 && !data.loading) {
    <div id="no-rows"
         class="flex flex-col items-center text-2xl">
      <i class="fa-solid fa-ban text-7xl pb-10 text-red-800 opacity-80"></i>
      <p> No data to display </p>
    </div>
  }
</div>

<ng-template #defaultColumnTemplate
             let-row="row"
             let-columnDef="columnDef">
  @switch (columnDef.type) {
    @case ('number') {
      {{ row[columnDef.name] | number:columnDef.format }}
    }
    @case ('date') {
      {{ row[columnDef.name] | date:columnDef.format }}
    }
    @case ('boolean') {
      <i class="fa-regular"
         [class.fa-square]="!row[columnDef.name]"
         [class.fa-square-check]="row[columnDef.name]"></i>
    }
    @default {
      {{ row[columnDef.name] }}
    }
  }
</ng-template>
