<div class="p-4">

  <img alt="logo"
       src="static/poc-logo.jpeg" />

  <h1 class="text-3xl font-bold underline">Hello, {{ title }}</h1>
  <i class="fa-solid fa-user"></i>
  <p>Congratulations! Your app is running. 🎉</p>
  <div class="p-2">
    <button mat-flat-button>Basic</button>
    <span>&nbsp;</span>
    <button mat-flat-button
            disabled>Disabled
    </button>
  </div>

  <p>Η ταινία του Γάλλου σκηνοθέτη, η οποία απέσπασε το βραβείο της κριτικής επιτροπής στο φεστιβάλ των Καννών,
    επικράτησε των «I’m Still Here» του Βραζιλιάνου Βάλτερ Σάλες και «The Seed of the Sacred Fig» του Ιρανού Μοχαμάντ
    Ρασούλοφ.</p>

  <p>ΠΑΠΑΓΙΑΝΝΗΣ ΔΗΜΗΤΡΙΟΣ ΙΩΑΝΝΗΣ 2,113.76 SHOWROOM
    01/07/2024 2024017220 Ενημερωμένη 30.00696 ΠΑΠΑΓΙΑΝΝΗΣ ΔΗΜΗΤΡΙΟΣ ΙΩΑΝΝΗΣ 1,042.66 SHOWROOM
    01/07/2024 2024017219 Ενημερωμένη 30.00696 ΠΑΠΑΓΙΑΝΝΗΣ ΔΗΜΗΤΡΙΟΣ ΙΩΑΝΝΗΣ 1,241.01 SHOWROOM
    01/07/2024 2024017218 Ενημερωμένη 30.00150 ΚΟΛΥΒΑΣ Χ.-ΚΟΛΥΒΑΣ Σ.ΟΕ 213.09 STAVROULA
    01/07/2024 2024017217 Ενημερωμένη 30.00020 ΜΟΥΡΔΟΥΚΟΥΤΑΣ ASH Ι.Κ.Ε. 327.92 STAVROULA
    01/07/2024 2024017216 Ενημερωμένη 30.00129 ΚΑΡΟΥΝΟΣ</p>
  <router-outlet />
</div>
