@let definition = formDefinition();
@let lookupPerField = lookups();

@if (!definition || isLoading()) {
  <div class="flex flex-col items-center h-full justify-center">
    <i class="fa-solid fa-hourglass-half fa-fw fa-6x fa-fade text-gray-600"></i>
    <p class="text-l pt-3">Preparing view...</p>
  </div>
} @else {
  <form [formGroup]="formGroup()"
        class="w-full flex flex-wrap">
    @for (field of definition.fields; track field.name) {
      @switch (field.kind) {
        @case ('text') {
          <mat-form-field class="single-line px-1"
                          [style]="field.style"
                          [ngClass]="field.class ?? 'basis-full'"
                          [class.pb-3]="hasErrors(field.name)"
                          [hidden]="field.hidden">
            <mat-label>{{ field.label }}</mat-label>
            <input #fld
                   matInput
                   [attr.pocAutoFocus]="field.name === firstVisible()"
                   [placeholder]="field.placeholder ?? field.label"
                   [formControlName]="field.name" />
            @if (hasErrors(field.name)) {
              <mat-error class="">{{ getErrorMessage(field.name, field.label) }}</mat-error>
            }
          </mat-form-field>
        }
        @case ('textarea') {
          <mat-form-field class="px-1"
                          [style]="field.style"
                          [ngClass]="field.class ?? 'basis-full'"
                          [class.pb-3]="hasErrors(field.name)"
                          [hidden]="field.hidden">
            <mat-label>{{ field.label }}</mat-label>
            <textarea #fld
                      matInput
                      cdkTextareaAutosize
                      [attr.pocAutoFocus]="field.name === firstVisible()"
                      [placeholder]="field.placeholder ?? ''"
                      [formControlName]="field.name"
                      [rows]="field.textAreaOptions?.rows || 8"
                      [cdkAutosizeMaxRows]="field.textAreaOptions?.maxRows || field.textAreaOptions?.rows || 8">
            </textarea>
            @if (hasErrors(field.name)) {
              <mat-error class="">{{ getErrorMessage(field.name, field.label) }}</mat-error>
            }
          </mat-form-field>
        }
        @case ('checkbox') {
          <div class="single-line px-1 pl-2 mb-3"
               [style]="field.style"
               [ngClass]="field.class ?? 'basis-full'"
               [class.pb-3]="hasErrors(field.name)"
               [hidden]="field.hidden">
            <mat-checkbox [formControlName]="field.name">
              {{ field.label }}
            </mat-checkbox>
            @if (hasErrors(field.name)) {
              <mat-error class="text-[0.75rem] pl-3">{{ getErrorMessage(field.name, field.label) }}</mat-error>
            }
          </div>
        }
        @case ('date') {
          <mat-form-field class="single-line px-1"
                          [style]="field.style"
                          [ngClass]="field.class ?? 'basis-full'"
                          [class.pb-3]="hasErrors(field.name)"
                          [hidden]="field.hidden">
            <mat-label>{{ field.label }}</mat-label>
            <input #fld
                   matInput
                   [matDatepicker]="picker"
                   [attr.pocAutoFocus]="field.name === firstVisible()"
                   [formControlName]="field.name" />
            <i matSuffix
               class="fa-regular fa-calendar fa-fw mr-2 text-l text-gray-600 hover:cursor-pointer hover:text-gray-800"
               (click)="picker.open()"
               (keydown)="picker.open()"
               tabindex="-1"></i>
            <mat-datepicker #picker
                            [id]="field.name"></mat-datepicker>
            @if (hasErrors(field.name)) {
              <mat-error class="">{{ getErrorMessage(field.name, field.label) }}</mat-error>
            }
          </mat-form-field>
        }
        @case ('select') {
          <mat-form-field class="single-line px-1"
                          [style]="field.style"
                          [ngClass]="field.class ?? 'basis-full'"
                          [class.pb-3]="hasErrors(field.name)"
                          [hidden]="field.hidden">
            <mat-label>{{ field.label }}</mat-label>
            <mat-select #fld
                        (keydown.control.backspace)="fld.ngControl.reset()"
                        (keydown.control.delete)="fld.ngControl.reset()"
                        [attr.pocAutoFocus]="field.name === firstVisible()"
                        [formControlName]="field.name"
                        [multiple]="field.multiSelect">
              @for (item of lookupPerField[field.name]; track item.key) {
                <mat-option [value]="item.key">{{ item.value }}</mat-option>
              }
            </mat-select>
            <i matSuffix
               class="fa-solid fa-rotate fa-fw mx-2 text-l text-gray-600 hover:cursor-pointer hover:text-gray-800"
               (click)="lookupRefresh.emit(field.lookupName ?? '');$event.stopPropagation();"
               (keydown)="lookupRefresh.emit(field.lookupName ?? '');$event.stopPropagation()"
               tabindex="-1">
            </i>
            @if (hasErrors(field.name)) {
              <mat-error class="">{{ getErrorMessage(field.name, field.label) }}</mat-error>
            }
          </mat-form-field>
        }
        @default {
          <p class="basis-full px-2 mt-1 text-sm font-bold">Unsupported field</p>
          <pre class="basis-full p-2 m-1 bg-red-50 border">{{ field | json }}</pre>
        }
      }
    }
  </form>
}
