<div class="p-2.5 flex flex-col items-center pt-12">

  <img alt="logo"
       src="static/poc-logo.jpeg"
       width="480" />
  <p>Congratulations! Your app is running. 🎉</p>
</div>

<div class="flex flex-col items-center mt-20 invisible">
  <div class="flex flex-row gap-2">
    <button type="button"
            class="core">
      <i class="fa-regular fa-floppy-disk"></i>

      Default

    </button>

    <button type="button"
            class="core primary">
      <i class="fa-solid fa-download"></i>
      Primary
    </button>

    <button type="button"
            class="core danger">
      <i class="fa-solid fa-triangle-exclamation"></i>
      Danger
    </button>

  </div>
</div>
