<div class="flex flex-row items-center w-full justify-end h-8">

  <div class="relative w-full">
    <input type="text"
           class="focus:outline-none py-1 pr-8 h-8 w-full pl-10 rounded-l-lg bg-gray-50 focus:bg-gray-100 border text-[0.9rem]"
           placeholder=""
           (keyup.enter)="onSearch()"
           [(ngModel)]="searchTerm">
    <button class="text-lg ml-2 w-6 pt-0.5 absolute inset-x-0">
      <i class="ph-bold ph-magnifying-glass text-gray-500 hover:text-gray-700"></i>
    </button>
    <button id="clearButton"
            (click)="onClear()"
            [hidden]="!searchTerm()">
      <i class="ph-light ph-eraser absolute right-2 top-2"></i>
    </button>
  </div>

  <button id="advancedSearch"
          class="bg-gray-200 hover:bg-gray-300 text-gray-600 px-3 py-1 w-40
                rounded-r-lg outline-none font-normal inline-flex flex-row items-center justify-center gap-2"
          (click)="advancedSearch.emit()">
    <span class="pb-[1px] -mt-[1px]">Advanced</span>
    <i class="ph ph-funnel-simple"></i>
  </button>

</div>
