@let definition = listDefinition();
@let data = listData();

<poc-title [title]="definition.title" />
<poc-toolbar [toolbarActions]="definition.toolbarActions"
             (toolbarClick)="toolbarClick.emit($event)"
             (toolbarSearch)="toolbarSearch.emit($event)" />
<poc-generic-table class="flex-auto h-full overflow-auto bg-[#FAF9FD]"
                   (sortChanged)="tableSortChanged.emit($event)"
                   [tableDefinition]="definition.tableDefinition"
                   [loading]="data.loading"
                   [sorting]="data.sorting"
                   [rows]="data.rows" />
<poc-pagination [pagingInfo]="pagingInfo()"
                (pagingChanged)="pagingChanged.emit($event)" />
