@let definition = listDefinition();
@let data = listData();

<poc-title [title]="definition.title" />
<poc-toolbar [toolbarActions]="definition.toolbarActions"
             (toolbarClick)="toolbarClick.emit($event)"
             (toolbarSearch)="toolbarSearch.emit($event)" />
<poc-generic-table #table
                   class="flex-auto h-full overflow-auto bg-[#FAF9FD]"
                   (sortChanged)="tableSortChanged.emit($event)"
                   (tableCellAction)="tableCellAction.emit($event)"
                   (rowAction)="tableRowAction.emit($event)"
                   (selectionChanged)="onSelectionChanged($event)"
                   [templates]="templates()"
                   [tableDefinition]="definition.tableDefinition"
                   [loading]="data.loading"
                   [sorting]="data.sorting"
                   [rows]="data.rows" />
<poc-pagination [pagingInfo]="pagingInfo()"
                [tableSelection]="tableSelection()"
                [tableActions]="definition.tableActions"
                (tableAction)="tableSelectionAction.emit({
                  action: $event.name,
                  selection: table.selectedRows
                 })"
                (clearSelection)="table.clearSelection()"
                (pagingChanged)="pagingChanged.emit($event)" />
