/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'murecho';
@use 'tailwind';

:root {
  @include mat.theme(
    (
      typography: 'Murecho',
      density: 0
    )
  );

  @include mat.button-overrides(
    (
      filled-container-shape: 4px,
      protected-container-shape: 4px,
      outlined-container-shape: 4px
    )
  );

  @include mat.sidenav-overrides(
    (
      container-shape: 2px
    )
  );
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Murecho', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  background-color: #e1e1e1;
}

html {
  @include mat.theme(
    (
      typography: 'Murecho',
      density: 0
    )
  );
}

/* Give common styles to siblings of router-outlet */
router-outlet#main + * {
  @apply flex flex-col h-full overflow-y-auto;
}

/* Buttons */
button.core {
  @apply px-4 py-2 min-w-28 rounded-md inline-flex justify-center items-center gap-3 text-gray-800 font-medium bg-gray-200 hover:bg-gray-300 active:bg-gray-400;
  i {
    line-height: 20px !important;
    height: 20px !important;
    vertical-align: middle !important;
  }
}

button.primary {
  @apply bg-lime-300 hover:bg-lime-400 active:bg-lime-500 #{!important};
}

button.danger {
  @apply bg-rose-200 hover:bg-rose-400 active:bg-rose-500 #{!important};
}

/* Scrollbars */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Background color for autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
}

/* Hide show password 'eye' (MS Edge) */
input::-ms-reveal {
  display: none;
}

/* Fixes for material table */
.text-center {
  .mat-sort-header-container {
    .mat-sort-header-content {
      width: 100% !important;
      justify-content: center !important;
    }
  }
}

.mat-sort-header-arrow svg {
  width: 16px !important;
  height: 16px !important;
  margin: -8px 0 0 -8px !important;
}

/* Links */
.link {
  @apply text-blue-600 dark:text-blue-500 hover:underline cursor-pointer;
}
