/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'murecho';
@use 'tailwind';

:root {
  @include mat.theme(
    (
      typography: 'Murecho',
      density: 0
    )
  );

  @include mat.button-overrides(
    (
      filled-container-shape: 4px
    )
  );
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Murecho', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  background-color: #e1e1e1;
}

html {
  @include mat.theme(
    (
      typography: 'Murecho',
      density: 0
    )
  );
}

/* Give common styles to siblings of router-outlet */
router-outlet#main + * {
  @apply p-3 flex flex-col h-full overflow-y-auto;
}

/* Scrollbars */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Background color for autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
}

/* Hide show password 'eye' (MS Edge) */
input::-ms-reveal {
  display: none;
}
