<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <location path="index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-cache, no-store" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>

  <system.webServer>

    <rewrite>
      <rules>
        <rule name="Angular Redirect" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="index.html" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
    
    <staticContent>
        <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>

  </system.webServer>
</configuration>
